@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #404a89, #168eb6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.container {
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  width: 850px;
  height: 550px;
  position: relative;
  overflow: hidden;
  display: flex;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background: #fff;
  border-radius: 30px 0 0 30px;
  box-shadow: none;
}

.sign-in-container,
.sign-up-container {
  left: 0;
  width: 50%;
  z-index: 2;
  position: absolute;
  transition: all 0.6s ease-in-out;
  background: #fff;
  border-radius: 30px 0 0 30px;
  box-shadow: none;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 2;
}

form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.input-box {
  position: relative;
  margin: 20px 0;
}

.input-box input {
  width: 100%;
  padding: 13px 50px 13px 20px;
  background: #eee;
  border-radius: 8px;
  border: none;
  outline: none;
}

.input-box i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

.btn {
  border-radius: 20px;
  border: none;
  background-color: #011530;
  color: #fff;
  font-size: 14px;
  padding: 12px 45px;
  margin-top: 10px;
  cursor: pointer;
}

.btn.ghost {
  background: transparent;
  border: 2px solid #fff;
}

.btn.faceid {
  background: #4e73df;
  color: #fff;
  margin-top: 10px;
  border: none;
  width: 100%;
  font-weight: bold;
}

.btn.faceid i {
  margin-right: 8px;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
  border-radius: 0 30px 30px 0;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #202755;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  border-radius: 0 30px 30px 0;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  padding: 0 40px;
}

.overlay-left {
  transform: translateX(-20%);
  left: 0;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}